@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Imperial+Script&display=swap');

* {
    font-family: "Alegreya";
}

body {
    margin: 0;
    background-color: #f4efe3;
    background-image: linear-gradient(180deg, #00000000 100px, #f4efe3 800px), url('../images/Canadian.jpeg');
    background-size: 100%;
    background-position: center 100px;
    background-repeat: no-repeat;
    background-clip: border-box;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg,
            rgba(0, 146, 70, 1) 0%,
            rgba(0, 146, 70, 1) 33%,
            rgba(241, 242, 241, 1) 33%,
            rgba(241, 242, 241, 1) 67%,
            rgba(206, 43, 55, 1) 67%,
            rgba(206, 43, 55, 1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>p {
    margin: 0;
}


h1,
h2 {
    font-family: 'Imperial Script';
    font-weight: 100;
    color: #000000;
    word-spacing: 0.7rem;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 30px 0;
}

h3,
h4 {
    margin: 5px 0;
}

main {
    width: 90%;
    margin: auto;
    position: relative;
    background-color: #f4efe3;
    border-radius: 10px;
    padding: 20px;
}

#landing {
    height: 400px;
    width: 50vw;
    margin: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
}

#landing>a,
#landing>a:visited {
    color: #ffffff;
    text-decoration: none;
}

#avis>#listeAvis,
#pizzas>.pizzas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.avis {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 350px;
    background-color: #d2d2d2;
    box-shadow: 5px 5px 5px #c2c2c2;
    transition-duration: 200ms;
}

.avis:hover {
    transform: translate(-5px, -5px);
}

.avis>div {
    display: flex;
}

.pizzabox {
    width: 300px;
    height: 350px;
    overflow: hidden;
    background-color: #dfdacc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.pizzabox>img {
    width: inherit;
    height: calc(300px * 2/3);
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.pizzabox>p {
    text-align: center;
    margin: 0;
}

#pizzas>.pizzas {
    gap: 10px;
    overflow: hidden;
    height: 350px;
}

#pizzas>.pizzas[data-state="opened"] {
    height: 0;
}

#pizzas>.pizzas[data-state="opened"] {
    height: 100%;
}

#pizzas>button {
    width: 100%;
    height: 3rem;
    margin: auto;
    font-size: 1rem;

    border: none;
    border-radius: 10px;
    background-color: #dfdacc;
    transition-duration: 300ms;

    margin-top: 10px;
}

#pizzas>button:hover {
    background-color: #e6dbbd;
}

#contact>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#horaires {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;

    width: 200px;
}

#horaires>h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

#horaires>div {
    padding: 5px;
}