@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Imperial+Script&display=swap');

* {
    font-family: "Alegreya";
}

body {
    margin: 0;
    background-color: #fffcf4;
    background-image: linear-gradient(180deg, #00000000 100px, #fffcf4 800px), url('../images/Canadian.jpeg');
    background-size: cover;
    background-position: center 100px;
    background-repeat: no-repeat;
    background-clip: border-box;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg,
            rgba(0, 146, 70, 1) 0%,
            rgba(0, 146, 70, 1) 33%,
            rgba(241, 242, 241, 1) 33%,
            rgba(241, 242, 241, 1) 67%,
            rgba(206, 43, 55, 1) 67%,
            rgba(206, 43, 55, 1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>p {
    margin: 0;
}


h1, h2 {
    font-family: 'Imperial Script';
    font-weight: 100;
    color: #000000;
    word-spacing: 0.7rem;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 10px 25px;
}

h3, h4 {
    margin: 5px 0;
}

main {
    width: 90%;
    margin: auto;
    top: 400px;
    position: relative;
    background-color: #fffcf4;
    height: 1000px;
}

#avis, #pizzas>.pizzas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch
}

#avis>.avis {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 350px;
    background-color: #eeeeee;
    box-shadow: 5px 5px 5px #e9e9e9;
}

#avis>.avis>div {
    display: flex;
}

#pizzas {}

.pizzabox {
    width: 200px;
    overflow: hidden;
}
.pizzabox>img {
    width: inherit;
    max-height: calc(200px * 2/3);
    overflow: hidden;
}
.pizzabox>p {
    text-align: center;
}

#pizzas>button {
    width: calc(100% - 50px);
    height: 3rem;
    margin: auto;
    font-size: 1rem;
    
    border: none;
    border-radius: 10px;
    background-color: #00000000;
    transition-duration: 300ms;
}
#pizzas>button:hover {
    background-color: #f3eddc;
}

#horaires {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;

    width: 200px;
}

#horaires>h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
#horaires>div {
    padding: 5px;
}