@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

body {
    margin: 0;
    background-color: #fffcf4;
    background-image: linear-gradient(180deg, #00000000 100px, #fffcf4 800px), url('../images/Canadian.jpeg');
    background-size: cover;
    background-position: center 100px;
    background-repeat: no-repeat;
    background-clip: border-box;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg,
            rgba(0, 146, 70, 1) 0%,
            rgba(0, 146, 70, 1) 33%,
            rgba(241, 242, 241, 1) 33%,
            rgba(241, 242, 241, 1) 67%,
            rgba(206, 43, 55, 1) 67%,
            rgba(206, 43, 55, 1) 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Imperial Script';
    font-weight: 100;
    color: #000000;
    word-spacing: 0.7rem;
    font-size: 50px;
}

main {
    width: 90%;
    margin: auto;
    top: 400px;
    position: relative;
    background-color: #fffcf4;
    height: 1000px;
}